extends layout

block content
  #app-container
  script(type="text/javascript", src="/javascripts/lib/socket.io.min.js")
  script(type="text/javascript", src="/javascripts/lib/jquery.min.js")
  script(type="text/javascript", src="/javascripts/index.js")
  script(type="text/javascript", src="/dist/bundle.js")
